<%- include('layouts/main') %>
<div class="jumbotron">
    <h1 class="display-4">Welcome to Passport Login System</h1>
    <p class="lead">This is a simple authentication system using Passport.js.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/users/register" role="button">Sign Up</a>
    <a class="btn btn-secondary btn-lg" href="/users/login" role="button">Login</a>
</div>
